//USER
@import "css/variables";
@import "css/mixins";
@import "css/fonts";
@import "css/smart-grid";
@import "css/adjustment";
@import "css/common";

//BLOCKS
@import "css/header";
@import "css/footer";

//COMPONENTS

//PAGES



.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}